body {
	margin: 0;
	font-family: 'Staatliches', Tahoma, Geneva, Verdana, sans-serif;
	
}
p {
	color: black;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 2;
}

.helloText {
	font-size: 3.7rem;
	margin-bottom: 0.313rem;
	color: white;
}

.myNameText {
	font-size:5rem; 
	color:white;
}

.aboutMeText {
	font-size: 3rem;
	color:white;
}

.sectionText{
	color: #22A39F;
}

.sectionParagraph {
	color: #434242;
}

.top-container {
	position: relative;
}
.introductionAndImg {
	background-color: #100F0F;
	height: 1000px;
}

.img {
	position: absolute;
	right: 200px;
	width: 500px;
	top: 150px;
}

.introduction {
	position: absolute;
	left: 300px;
	top: 300px;
	width: 700px;

}

.middle-container {
	background-color: #F3EFE0;

}